<footer class="row-cols-1 row-cols-sm-2 row-cols-md-5 border-top">
        <div class="col">
            <a href="/" class="d-flex align-items-center link-body-emphasis">
                <img src="/assets/logos/logo-sin-fondo.png" alt="Logo María José Núñez" width="70%">
            </a>

        </div>

        <div class="col mt-3 mb-3">
            <h5>DIRECCIÓN</h5>
            <p class="nav flex-column">
                Ibarbalz 1052, Barrio General Paz
            </p>
        </div>

        <div class="col mt-3 mb-3">
            <h5>HORARIOS DE ATENCIÓN</h5>
            <p class="nav flex-column">
                Lunes a Viernes de 17 a 21 hs
            </p>
        </div>

        <div class="col mt-3 mb-3">
            <h5>CONTACTANOS</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="contacto nav-link p-0 text-body-secondary" href="tel: 3515329273">
                        <img src="/assets/iconos/tel.png" alt="" style="width: 3.5%"> +54 9 351 532-9273</a>
                </li>
                <li class="nav-item">
                    <a class="contacto nav-link p-0 text-body-secondary" href="mailto: estudiodanzamjn@gmail.com">
                        <img src="/assets/iconos/mail.png" alt="" style="width: 5%">
                        estudiodanzamjn@gmail.com</a>
                </li>
            </ul>
        </div>

        <div class="col mt-3 mb-3">
            <ul class="nav flex-row">
                <li class="nav-item"><a target="_blank" href="https://www.instagram.com/estudiodanzamjn"
                        title="Instagram" class="nav-link p-0 text-body-secondary">
                        <img class="red-social" src="/assets/iconos/ig.png" alt=""></a>
                </li>
                <li class="nav-item"><a target="_blank" href="https://www.facebook.com/estudiodanzamjn" title="Facebook"
                        class="nav-link p-0 text-body-secondary">
                        <img class="red-social" src="/assets/iconos/fb.png" alt=""></a>
                </li>
                <li class="nav-item"><a target="_blank" href="https://api.whatsapp.com/send/?phone=5493515329273"
                        title="Whatsapp" class="nav-link p-0 text-body-secondary">
                        <img class="red-social" src="/assets/iconos/ws.png" alt=""></a>
                </li>

            </ul>
        </div>
    </footer>