

<h1 class="container m-5 text-bg-danger">
    Error 404: Página no encontrada
</h1>

<div class="container text-center m-5">
    <img src="https://img.freepik.com/vector-premium/advertencia-error-sistema-operativo-ventana-mensaje-emergente-ventana-dialogo-falla-sistema-diseno-plano_812892-54.jpg" alt="error">
</div>